section {
  background: #f7f7f7;
}
section div.container div.public div.public-list {
  padding: 20px 0;
}
section div.container div.public div.public-list div.row div.pub-le {
  width: 210px;
  height: 560px;
  background: #fff;
}
section div.container div.public div.public-list div.row div.pub-le div.pub-t {
  padding: 4px 4px 0;
}
section div.container div.public div.public-list div.row div.pub-le div.pub-t img {
  display: block;
  width: 100%;
}
section div.container div.public div.public-list div.row div.pub-le ul li {
  position: relative;
  z-index: 1;
}
section div.container div.public div.public-list div.row div.pub-le ul li a {
  display: block;
  color: #2f88a6;
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
  border-bottom: 1px solid #dcdcdc;
}
section div.container div.public div.public-list div.row div.pub-le ul li a s {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  background: #2f88a6;
  border-radius: 50%;
}
section div.container div.public div.public-list div.row div.pub-le ul li a i {
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 5px;
  background: #2f88a6;
  margin-right: 10px;
}
section div.container div.public div.public-list div.row div.pub-le ul li img {
  display: none;
  position: absolute;
  top: 0;
  left: -7px;
  z-index: -1;
}
section div.container div.public div.public-list div.row div.pub-le ul li.active a {
  color: #fff;
  border-color: transparent;
}
section div.container div.public div.public-list div.row div.pub-le ul li.active a s,
section div.container div.public div.public-list div.row div.pub-le ul li.active a i {
  background: #fff;
}
section div.container div.public div.public-list div.row div.pub-le ul li.active img {
  display: block;
}
section div.container div.public div.public-list div.row div.pub-le ul li:hover a {
  color: #fff;
  border-color: transparent;
}
section div.container div.public div.public-list div.row div.pub-le ul li:hover a s,
section div.container div.public div.public-list div.row div.pub-le ul li:hover a i {
  background: #fff;
}
section div.container div.public div.public-list div.row div.pub-le ul li:hover img {
  display: block;
}
section div.container div.public div.public-list div.row div.pub-rt {
  margin-left: 25px;
  width: 764px;
  background: #fff;
  min-height: 560px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t {
  padding: 15px 20px 0;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media {
  padding-bottom: 15px;
  border-bottom: 1px dotted #dcdcdc;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media div.media-left {
  width: 30%;
  padding-right: 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media div.media-left a {
  display: block;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media div.media-left a img {
  display: block;
  width: 100%;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media div.media-body a {
  display: block;
  margin-bottom: 5px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media div.media-body div {
  color: #a2a1a1;
  font-size: 12px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t div.media div.media-body div span {
  float: right;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s {
  padding: 5px 20px 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top {
  padding: 15px 0;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d:last-child {
  padding-left: 2px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 {
  margin-bottom: 1px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 label {
  width: 150px;
  height: 30px;
  line-height: 30px;
  background: #f5f5f5;
  text-align: center;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 .in1 {
  width: 205px;
  height: 25px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 .in2,
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 .in3 {
  height: 25px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 .in2 {
  width: 101px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top div.row div.d div.d1 .in3 {
  width: 90px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-top button {
  border: none;
  border-radius: 6px;
  background: #2f88a6;
  width: 80px;
  color: #fff;
  display: block;
  margin: 20px auto 5px;
  padding: 3px 0;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.rr {
  height: 15px;
  background: #f7f7f7;
  margin-left: -20px;
  margin-right: -20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li {
  border-bottom: 1px dashed #ddd;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li a {
  display: block;
  line-height: 34px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li a > * {
  display: inline-block;
  vertical-align: middle;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li a span.s1 {
  width: 150px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li a span.s2 {
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li a span.s3 {
  float: right;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li a i {
  width: 5px;
  height: 5px;
  background: #2f88a6;
  border-radius: 50%;
  margin-right: 5px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li.th {
  border-bottom: 1px solid #2f88a6;
  padding: 6px 0;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.pub-r-s > ul li.th a span {
  font-size: 16px;
  font-weight: bold;
  color: #2f88a6;
}
section div.container div.public div.public-list div.row div.pub-rt div.record {
  padding: 5px 20px 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record ul.rec-top {
  text-align: right;
  margin-bottom: 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record ul.rec-top li {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  margin-left: 12px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: #666;
}
section div.container div.public div.public-list div.row div.pub-rt div.record ul.rec-top li.active,
section div.container div.public div.public-list div.row div.pub-rt div.record ul.rec-top li:hover {
  border-color: #2f88a6;
  color: #2f88a6;
  font-weight: bold;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.rec-sec {
  display: none;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.rec-sec.active {
  display: block;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.book {
  padding-top: 10px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.book ul {
  background-repeat: no-repeat !important;
  padding: 0 20px;
  margin-top: 10px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.book ul li {
  width: 20%;
  padding-bottom: 24px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.book ul li a {
  display: block;
  width: 92px;
  height: 101px;
  margin: auto;
  background-image: url("https://img.sandbox.qixinyun.com/pxiang-shu.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.book ul li a span {
  font-weight: bold;
  color: #333;
  width: 20px;
  line-height: 14px;
  position: absolute;
  top: 48%;
  left: 50%;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.time table thead tr th {
  border-color: #2f88a6;
  color: #2f88a6;
  font-size: 16px;
  text-align: center;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.time table tbody tr td {
  border-top: none;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.time table tbody tr td a {
  display: block;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.time table tbody tr td.td3 a {
  color: #2f88a6;
  text-align: right;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.time table tbody tr td.td4 {
  width: 155px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.time table tbody tr td.td4 a {
  text-align: right;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list div.list-top {
  border-bottom: 1px solid #2f88a6;
  text-align: center;
  padding: 10px 0 5px;
  margin-bottom: 15px;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list div.list-top p.title {
  font-size: 16px;
  font-weight: bold;
  color: #2f88a6;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list div.list-top p.p1 {
  color: #999;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list table thead tr th {
  border-bottom: none;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list table thead tr th:last-child {
  width: 180px;
  text-align: center;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #ddd;
}
section div.container div.public div.public-list div.row div.pub-rt div.record div.list table tbody tr td:last-child {
  text-align: center;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top {
  padding: 30px 50px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top ul {
  margin-left: -65px;
  margin-right: -65px;
  margin-bottom: 10px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top ul li {
  width: 20%;
  text-align: center;
  font-weight: bold;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-but {
  text-align: center;
  padding: 15px 0;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-but a {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  font-size: 16px;
  background: #2f88a6;
  color: #fff;
  margin: 0 10px;
  border-radius: 5px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun {
  margin-top: 15px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div {
  padding: 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div div.s {
  background: #fbfbfb;
  padding: 25px;
  color: #2f88a6;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div div.s p.t {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div div.s div {
  margin-bottom: 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div div.s div span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  width: 82px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div div.s div input {
  width: 65%;
  padding: 2px 5px;
  border: 1px solid #bfbfbf;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chaxun div.row > div div.s .but {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 100px;
  border: none;
  background: #2f88a6;
  color: #fff;
  font-size: 16px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec {
  padding: 10px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec > p {
  font-size: 16px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec > p span.s1 {
  font-weight: bold;
  color: #2f88a6;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec > p span.s2 {
  color: red;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec table {
  margin-top: 20px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec table thead tr th {
  border-bottom-color: #2f88a6;
  background: #eef4fa;
  color: #2f88a6;
  text-align: center;
  vertical-align: middle;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec table tbody tr td a {
  display: block;
  text-align: left;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info {
  padding: 10px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info > p {
  font-size: 16px;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info > p span.s1 {
  font-weight: bold;
  color: #2f88a6;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info > p span.s2 {
  color: red;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info div.cha-in {
  margin-top: 15px;
  border-top: 4px solid #2f88a6;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info div.cha-in table tbody tr th,
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info div.cha-in table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #e4f4f5;
  padding: 8px 12px;
  vertical-align: middle;
}
section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info div.cha-in table tbody tr th {
  background: #f1f9fa;
}
section div.container div.public div.public-list div.chas-sec {
  margin: auto;
  width: 565px;
  height: 901px;
  background-image: url("https://img.sandbox.qixinyun.com/pxiang-chax-bj.png");
  padding: 20px;
  margin-top: 15px;
}
section div.container div.public div.public-list div.chas-sec div.chas-top {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2f88a6;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
section div.container div.public div.public-list div.chas-sec div.chas-top span {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 5px;
}
section div.container div.public div.public-list div.chas-sec div.d1 {
  margin-bottom: 16px;
}
section div.container div.public div.public-list div.chas-sec div.d1 > * {
  _display: inline;
  display: inline-block;
  vertical-align: top;
}
section div.container div.public div.public-list div.chas-sec div.d1 span.tit {
  width: 115px;
  text-align: right;
}
section div.container div.public div.public-list div.chas-sec div.d1 span.xing {
  color: red;
}
section div.container div.public div.public-list div.chas-sec div.d1 span.sh {
  color: #999;
}
section div.container div.public div.public-list div.chas-sec div.d1 .in {
  border: 1px solid #d0d2d5;
  padding: 2px 5px;
}
section div.container div.public div.public-list div.chas-sec div.d1 .in.in1 {
  width: 260px;
}
section div.container div.public div.public-list div.chas-sec div.d1 .in.in2 {
  width: 120px;
}
section div.container div.public div.public-list div.chas-sec div.d1 .in.in3 {
  width: 200px;
}
section div.container div.public div.public-list div.chas-sec div.d1 .in.in4 {
  width: 330px;
}
section div.container div.public div.public-list div.chas-sec div.d1 input.in {
  height: 28px;
}
section div.container div.public div.public-list div.chas-sec div.d1 img {
  height: 28px;
  border: 1px solid #d0d2d5;
}
section div.container div.public div.public-list div.chas-sec div.d1 div.d1-2 .select2-container {
  width: 120px;
}
section div.container div.public div.public-list div.chas-sec div.d2 {
  text-align: center;
  padding-top: 10px;
}
section div.container div.public div.public-list div.chas-sec div.d2 input {
  -webkit-appearance: none;
  border: none;
  height: 30px;
  width: 80px;
  font-size: 16px;
  background: none;
}
section div.container div.public div.public-list div.chas-sec div.d2 input.int-1 {
  background-image: url("https://img.sandbox.qixinyun.com/pxiang-login-ico-01.png");
  background-position: center;
  background-size: cover;
  color: #fff;
}
section div.container div.public div.public-list div.chas-sec div.d2 input.in2 {
  color: #2f88a6;
}
@media screen and (max-width: 993px) {
  section {
    background: #fff;
  }
  section div.container div.public div.public-list {
    padding: 15px 0;
  }
  section div.container div.public div.public-list div.row div.pub-rt {
    margin-left: 0;
    width: 100%;
    min-height: 100px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t {
    padding: 0;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-t > img {
    width: 80px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s {
    padding: 5px 0 10px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record {
    padding: 5px 0 20px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.book {
    padding-top: 0;
    margin-left: -4%;
    margin-right: -4%;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.book ul {
    padding: 0 5px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.book ul li {
    width: 33%;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.time div.time-list a {
    display: block;
    padding: 3px 0;
    border-bottom: 1px dashed #ddd;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.time div.time-list a p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.time div.time-list a div span.s1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    color: #ff6c00;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.time div.time-list a div span.s1.ss {
    margin-left: 0;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.time div.time-list a div span.s2 {
    float: right;
    color: #888;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.list div.list-top {
    padding-top: 0;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.list div.list-top p.p1 {
    font-size: 1.2rem;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.record div.list table thead tr th:last-child {
    width: 100px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top {
    padding: 20px 50px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top ul {
    margin-left: -50px;
    margin-right: -50px;
  }
  section div.container div.public div.public-list div.pub-sj-list > ul li a {
    display: block;
    border-bottom: 1px dashed #ddd;
    padding: 3px 0;
  }
  section div.container div.public div.public-list div.pub-sj-list > ul li a p {
    margin-bottom: 5px;
  }
  section div.container div.public div.public-list div.pub-sj-list > ul li a div {
    color: #999;
  }
  section div.container div.public div.public-list div.pub-sj-list > ul li a div span {
    float: right;
  }
}
@media screen and (max-width: 767px) {
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top {
    padding: 20px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.hdjl-sec div.hd-top ul {
    margin-left: -20px;
    margin-right: -20px;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-sec {
    padding: 0;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info {
    padding: 0;
  }
  section div.container div.public div.public-list div.row div.pub-rt div.pub-rt-s div.chax-info div.cha-in table tbody tr th {
    width: 90px;
    padding: 8px;
    text-align: center;
  }
  section div.container div.public div.public-list div.chas-sec {
    width: 100%;
    height: auto;
    background-image: none;
    padding: 0;
  }
  section div.container div.public div.public-list div.chas-sec div.d1 {
    margin-bottom: 10px;
  }
  section div.container div.public div.public-list div.chas-sec div.d1 span.tit {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
  section div.container div.public div.public-list div.chas-sec div.d1 span.tit.t2 {
    width: auto;
  }
  section div.container div.public div.public-list div.chas-sec div.d1 .in.in1 {
    width: 75%;
  }
  section div.container div.public div.public-list div.chas-sec div.d1 .in.in4 {
    width: 95%;
  }
  section div.container div.public div.public-list div.chas-sec div.d1 div.d1-2 .select2-container {
    width: 90px;
  }
}
